## In python day 2 
- Python in-build data structure.
   - List
   - Tuple
   - set
   - dictionary

## list 

list is one of the inbilt data stracture which is use to store the various type of data.perform the various operation

In [3]:
l=[]

In [4]:
l

[]

In [9]:
l=[1,2,3,4,5,"Bangalore","Delhi","Apple"]
print(l)

[1, 2, 3, 4, 5, 'Bangalore', 'Delhi', 'Apple']

In [6]:
l

[1, 2, 3, 4, 5, 'Bangalore', 'Delhi', 'Apple']

In [7]:
type(l)

list

# List operation

In [12]:
## slicing 

l[0]

1

In [13]:
l[2]

3

In [14]:
l[4]

5

In [19]:
l[15] ## this index number is not available

IndexError: list index out of range

In [18]:
l[6]

'Delhi'

In [21]:
l[0:5]

[1, 2, 3, 4, 5]

In [23]:
## you want to print the entire list 
l[::]

[1, 2, 3, 4, 5, 'Bangalore', 'Delhi', 'Apple']

In [26]:
## print the entire list and jumpy by 1

l[::2]

[1, 2, 3, 4, 5, 'Bangalore', 'Delhi', 'Apple']

In [27]:
## print the entire list and jump by 3

l[::4]

[1, 5]

In [28]:
## print the list into reverse 

l[::-1]

['Apple', 'Delhi', 'Bangalore', 5, 4, 3, 2, 1]

In [29]:
l[:-2]

[1, 2, 3, 4, 5, 'Bangalore']

In [30]:
l

[1, 2, 3, 4, 5, 'Bangalore', 'Delhi', 'Apple']

In [39]:
l[-1:-4:-1]

['Apple', 'Delhi', 'Bangalore']

In [42]:
l[-4:-10:-1]

[5, 4, 3, 2, 1]

In [43]:
l[-4:-10:-2]

[5, 3, 1]

In [45]:
## know the index of the list items 

l.index("Bangalore")

5

In [46]:
### know wheater items are in the list or not 

"Bangalore" in l

True

In [47]:
100 in l

False

In [48]:
5 in l

True

In [49]:
## appedning 
l2=["Mona","Sona","Tona"]

In [51]:
l.append(l2)

In [52]:
l

[1, 2, 3, 4, 5, 'Bangalore', 'Delhi', 'Apple', ['Mona', 'Sona', 'Tona']]

In [57]:
l[8] ## we reach till last list

['Mona', 'Sona', 'Tona']

In [58]:
### to access the neste list itms 

l[8][0]

'Mona'

In [59]:
l[8][1]

'Sona'

In [60]:
l[8][2]

'Tona'

In [67]:
l[8][-2:-4:-1]

['Sona', 'Mona']

In [68]:
l[8][1:3]

['Sona', 'Tona']

In [70]:
l.append("Papaya")

In [71]:
l

[1,
 2,
 3,
 4,
 5,
 'Bangalore',
 'Delhi',
 'Apple',
 ['Mona', 'Sona', 'Tona'],
 'Papaya']

In [72]:
## insert 

l.insert(0,23)

In [73]:
l

[23,
 1,
 2,
 3,
 4,
 5,
 'Bangalore',
 'Delhi',
 'Apple',
 ['Mona', 'Sona', 'Tona'],
 'Papaya']

In [79]:
## pop operation 
l.pop(9)

IndexError: pop index out of range

In [76]:
l.pop(2)

2

In [78]:
l

[23, 1, 3, 4, 5, 'Bangalore', 'Delhi', 'Apple', ['Mona', 'Sona', 'Tona']]

In [82]:
l.remove(23)

In [83]:
l

[1, 3, 4, 5, 'Bangalore', 'Delhi', 'Apple', ['Mona', 'Sona', 'Tona']]

In [85]:
l[7].remove('Sona')

In [86]:

l

[1, 3, 4, 5, 'Bangalore', 'Delhi', 'Apple', ['Mona', 'Tona']]

In [87]:
l[7].pop(1)

'Tona'

In [88]:
l

[1, 3, 4, 5, 'Bangalore', 'Delhi', 'Apple', ['Mona']]

In [89]:
len(l)

8

In [90]:
l.reverse()

In [91]:
l

[['Mona'], 'Apple', 'Delhi', 'Bangalore', 5, 4, 3, 1]

In [95]:
l3=[45,67,3,5,7,8]

l3.sort(reverse=True)

In [96]:
l3

[67, 45, 8, 7, 5, 3]

In [97]:
l4=["Mona","Tona","Bona",'Hona']

In [98]:
l3.extend(l4)

In [99]:
l3

[67, 45, 8, 7, 5, 3, 'Mona', 'Tona', 'Bona', 'Hona']

In [ ]:
## take 4 input from the user and add in one list 

### take 6 input from user and save 3 input in each list and combine againg into one list .

In [100]:
a=[1,2,3]
b=[4,5,6]

a+b

[1, 2, 3, 4, 5, 6]