# Python class 1
## This is the first class of python 
### We will discuss the basic of python 
**I am going to learn the basic and list function of python**
- Student 
- for more info [click on](https://docs.python.org/3/)

In [1]:
a=10

In [2]:
a

10

In [3]:
type(a)

int

# DATA TYPES 

- int =1,2,3,4,5,6,56,1000,50000
- float (decimal ) - 1.2,3.4,56.78,78.67
- string (alpha_numerical values)- "name","school","s12","str4567"
- date and time - "12/06/2024" , "12/06/2024 00:00:00"

In [10]:
### how to consider the variable 

a=10 
_a=12
a ,b=23,10

In [11]:
a

23

In [12]:
b

10

## Basci operator 

- sum
- subtraction
- multiplication
- division
    1. 2/3 --> 
    2. 2//3--> floor division 
    3. 2%3 --> modular division 
- Negative values --> - values
- power -->  a**2 -- double start means power 
- abs --> to remove the negative values 
- sqrt --> square root

In [13]:
## addition 
a=10
b=20
a+b

30

In [15]:
## subtraction

a=10
b=20
b-a

10

In [18]:
## multiplication 

a=40
b=20

a*b

800

In [20]:
### division 

a=40 
b=21
a/b

1.9047619047619047

In [21]:
### division 
a=40 
b=21
a//b

1

In [23]:
### division 
a=40 
b=20
a%b

0

In [25]:
## negative 
a=10
a*-1

-10

In [26]:
## absolute

a=10
b=a*-1
abs(b)

10

In [29]:
## power 
a=10

a**3.1

1258.9254117941675

In [36]:
## sqr root 

import math 

a=10

math.sqrt(100)

10.0

### basic assingement 

a=10 # 10 is assigning to the a varibale 

a==10 ## we are comparing wheater a value is 10 or not 

a+=1 ## a values will increase by 1 

a-=1 ## a values will decrease by 1

In [ ]:
## Bacis assignment 

= 
+=
-+

In [37]:
a=10

In [38]:
a

10

In [39]:
a==10

True

In [40]:
a==11

False

In [41]:
a+=1

In [42]:
a

11

In [45]:
a-=1 ## a is 11

In [44]:
a

10

In [46]:
a!=11

True

In [47]:
a!=10

True

In [48]:
a

9

In [50]:
## print use 
a=10 
print(a)

## second method 

print("The value of a is ",a)

10
The value of a is  10

In [34]:
### Different type of Print 

print("This is method 1 of print ")

x=10
print(x)
x=20

## print with sentence

print("The value of x is ",x)

## Print with string formate 

name = "Priyanka"
age=25
print("%a is an  %d year old" % (name,age))

## print with str.formate 

name ="Prashant"
age=34
print("{} is an {} year old".format(name,age))


### print with str formate and argument 

name="Sourab"

age =20

print("{person}, is an {number} is year old".format(person=name,number=20))

### print with f sting 

name = "Subham" 

age = 45

print(f"{name},{age} year old ")

This is method 1 of print
10
The value of x is  20
'Priyanka' is an  25 year old
Prashant is an 34 year old
Sourab, is an 20 is year old
Subham,45 year old

In [77]:
## method -3 

name ="Priyanka"
age=25

print(name,age)

print ("The name of person and age: ",name,age)


## method 3
print("The name of person %a and her age is %d " % (name,age))


##print method 4
print("The name of person is  {} and her age is {} " .format(name,age))


## print method 5

print ("the name of the person is {name1} and her age is {ag1}".format(name1=name,ag1=age))

## print method 6  f string method 

print (f"the name of the perosn {name}, and her age is {age}")

Priyanka 25
The name of person and age:  Priyanka 25
The name of person 'Priyanka' and her age is 25
The name of person is  Priyanka and her age is 25
the name of the person is Priyanka and her age is 25
the name of the perosn Priyanka, and her age is 25

In [78]:
### user define function 

name =input ("Please enter your name ")
age = int(input ("Please enter the age "))

Please enter your name Priyanka
Please enter the age 25

In [79]:
print("The name of the user is {} and age of the user is {}".format(name,age))

The name of the user is Priyanka and age of the user is 25

In [80]:
print("The name of the user is {} and age of the user is {}")

The name of the user is {} and age of the user is {}

In [ ]:
H/W 

1.  Take 3 number from the user and print all the number along with sum 
2. take 3 number from the user and print the multiplication along with all the number 

3. take the user name , address and age and print 

4. take two number and subtract the number and print the number along with result