## This is the first day of Python class 

Today we are going to leran the basic of Python 
[click for more details](https://docs.python.org/3/)

In [3]:
print("Hello  I am in the class of  python ")

Hello  I am in the class of  python

## Data types 

- String - "Name",'Address','Pincode','Any alphanumerical value', Example - Prashant, Bangalore,45673,prashant.singh@gmail.com,B5
always string must be inside the double or single inverted-coma 

- Int-0 to 9 exmaple - 5, 99, 9999,45879674
- float - decimal values - 45.67,23.56
- Date - 12-02-2024
- Dateand time- 14-02-2024 10:56:00

In [6]:
X=5
Y=6

In [7]:
X

5

In [8]:
Y

6

In [9]:
print(X,Y)

5 6

In [11]:
X+Y

11

In [12]:
X,Y=7,8

In [13]:
X

7

In [14]:
Y

8

In [15]:
X_Y=7

SyntaxError: invalid syntax (2852799696.py, line 1)

In [19]:
full ,name = 'Prashant', 'Singh'

In [20]:
full

'Prashant'

In [22]:
name

'Singh'

In [24]:
full9='Prashant'

In [26]:
## I want to assign 45 and 65 to two different variable and find the product of it

first_number = 45
second_number=65

In [27]:
print(first_number,second_number)

45 65

In [30]:
first_number+second_number

110

In [31]:
a=34,56,78

set

In [50]:
## i want that user shound enter two values and code shoud should return the sum of those values 

a=int(input("Please enter the 1st Number "))
b=int(input("Please enter the 2nd Number "))
result=a+b
print("The sum of two number is  ",result)

Please enter the 1st Number 6
Please enter the 2st Number 8
The sum of two number is   14

In [53]:
## Take the four input from the user and add those numbers


a=int(input("Please enter the 1st Number "))  #1st user input 

b=int(input("Please enter the 2nd Number "))  #2nd user input 

c=int(input("Please enter the 3rd Number "))  # 3rd user input 

d=int(input("Please enter the 4th Number "))  # 4th user input

result= a+b+c+d # sum operation of all the number 
print("The sum of 4 number is ",result)

Please enter the 1st Number 5
Please enter the 2nd Number 6
Please enter the 3rd Number 7
Please enter the 4th Number 8
The sum of 4 number is  26

In [57]:
## take two user input and devide it 

a=int(input("Please enter the 1st Number "))  #1st user input 

b=int(input("Please enter the 2nd Number "))  #2nd user input

result=a/b

print("Division of two number is " , result)

Please enter the 1st Number 6
Please enter the 2nd Number 4
Division of two number is  1.5

In [44]:
a+b

'56'