## Tuple

- it is also a Data structure in python , which is used to store the data 
- It is faster than the List 
- It is immutable

In [2]:
l=["Prashant"]

In [3]:
type(l)

list

In [6]:
a=("Prashant","Kumar")

In [7]:
type(a)

tuple

In [9]:
l[0]="Vishal"

In [10]:
l

['Vishal']

In [11]:
a[0]

'Prashant'

In [12]:
a[0]='Vishal'

TypeError: 'tuple' object does not support item assignment

In [13]:
a="Prashant","Kumar"

In [14]:
type(a)

tuple

In [15]:
a=(2)

In [16]:
type(a)

int

In [17]:
a=(2,3)

In [18]:
type(a)

tuple

# Methods in the tuple

In [25]:
t1=(1,2,3,4,"a","b",'c')

In [20]:
type(t1)

tuple

In [30]:
## Index access 
t1[6]

'c'

In [31]:
len(t1)

7

In [32]:
7-1

6

In [41]:
## find the index using values
t1.index('a')

4

In [42]:
t1.index(4)

3

In [44]:
t1.index('c')

6

In [47]:
t1.append("Prashant")

AttributeError: 'tuple' object has no attribute 'append'

In [46]:
t1

(1, 2, 3, 4, 'a', 'b', 'c')

In [48]:
t1[3:6]

(4, 'a', 'b')

TypeError: '>' not supported between instances of 'str' and 'int'

In [51]:
### count how mnay time any number or character are availabe in the tuple 
t1.count(2)

1

In [52]:
t2=(2,2,2,2,2,2,2)

In [53]:
t2.count(2)

7

In [54]:
t3=(45,56,12,65,99,10,1)

In [66]:
## sort the t3 tuple in ascending order 
sorted_t3=sorted(t3,reverse=False)

In [65]:
sorted_t3

[99, 65, 56, 45, 12, 10, 1]

In [67]:
## sort the t3 tuple in Descinding order 
sorted(t3,reverse=True)

[99, 65, 56, 45, 12, 10, 1]

In [68]:
##  find the minimum value from t3 tuple
min(t3)

1

In [69]:
## find the maximum value in the t3 tuple
max(t3)

99

In [70]:
t3

(45, 56, 12, 65, 99, 10, 1)

In [71]:
t1

(1, 2, 3, 4, 'a', 'b', 'c')

In [72]:
t2

(2, 2, 2, 2, 2, 2, 2)

In [77]:
Anand=t3+t1+t2

In [80]:
Anand

(45, 56, 12, 65, 99, 10, 1, 1, 2, 3, 4, 'a', 'b', 'c', 2, 2, 2, 2, 2, 2, 2)

In [81]:
t1

(1, 2, 3, 4, 'a', 'b', 'c')

In [87]:
## replicating of the tuple
t1*2

(1, 2, 3, 4, 'a', 'b', 'c', 1, 2, 3, 4, 'a', 'b', 'c')

In [88]:
t1[4:7]

('a', 'b', 'c')

In [89]:
t5=list(t1)

In [90]:
t5

[1, 2, 3, 4, 'a', 'b', 'c']

In [91]:
type(t5)

list

In [93]:
t5.append("Prashant")

In [94]:
t5

[1, 2, 3, 4, 'a', 'b', 'c', 'Prashant']

In [95]:
t1=tuple(t5)

In [96]:
t1

(1, 2, 3, 4, 'a', 'b', 'c', 'Prashant')

In [97]:
type(t1)

tuple

In [98]:
## delete the tuple 
del t1

In [100]:
del t5

In [101]:
t5

NameError: name 't5' is not defined

In [104]:
if 5<6:
    print("Your are corrct")
else:
    print("you are wrong")

Your are corrct

In [ ]:
list_1=[1,2,3,4,5,6]

In [139]:
user_number=int(input("Please enter the number b/w 1 to 99 "))

import random

system_number=random.randint(1,99)


if user_number==system_number:
    print('You won the game')
else:
    print("Game over")
    print("System number",system_number)

Please enter the number b/w 1 to 99 56
Game over
System number 65

In [115]:
type(user_number)

str

In [116]:
user_number

'5'

In [117]:
user_number=int(user_number)

In [118]:
user_number

5

In [112]:
xyz

2

In [113]:
type(xyz)

int

In [152]:
user_number=int(input("Please enter the number b/w 1 to 99"))

import random

system_number=random.randint(1,99)

if (user_number==system_number):
    print ('Same number')
    
elif user_number > system_number :
    print ('System_number is less than user_number')
    
else:
    print ('System_number is greater than user_number')
    

print("System number ",system_number)
print("User number ",user_number)

Please enter the number b/w 1 to 9967
System_number is less than user_number
System number  58
User number  67

Dict- It is data stracture which store the data in key and value formate 

Dict = {"Name":"Prashant"}

In [154]:
d1={ 'Name': 'Prashant','email_id': "xyz@gmail.com", "Age" : 45, "Mobile_number": 123456789}

In [155]:
d1

{'Name': 'Prashant',
 'email_id': 'xyz@gmail.com',
 'Age': 45,
 'Mobile_number': 123456789}

In [156]:
type(d1)

dict

In [159]:
d1.keys()

dict_keys(['Name', 'email_id', 'Age', 'Mobile_number'])

In [160]:
d1.values()

dict_values(['Prashant', 'xyz@gmail.com', 45, 123456789])

In [161]:
d1['Name']

'Prashant'

In [175]:
d1.keys()

dict_keys(['Name', 'email_id', 'Age', 'Mobile_number'])

In [176]:
d1.values()

dict_values(['Prashant', 'xyz@gmail.com', 45, 123456789])

In [177]:
## assign the new keys and values 

d1['address']="BLR"

In [178]:
d1

{'Name': 'Prashant',
 'email_id': 'xyz@gmail.com',
 'Age': 45,
 'Mobile_number': 123456789,
 'address': 'BLR'}

In [179]:
d1.append("DAL")

## append is not applicable in the dict.

AttributeError: 'dict' object has no attribute 'append'

In [180]:
d2={"Name":"Vishal",'age':50,"Mobile":58965869}

# if condition

In [187]:
d1

{'Name': 'Prashant',
 'email_id': 'xyz@gmail.com',
 'Age': 45,
 'Mobile_number': 123456789,
 'address': 'BLR'}

In [189]:
for i in d1.keys():
    if i =='Name':
        print(d1[i])

Prashant

In [206]:
### multiple 2 with each number of the list

l1=[1,2,3,4,5,6,7,8,9,10]
l2=[]

for i in l1:
    l2.append(i*2)

In [225]:
###  assign all the even number from 1 to 50 into list l3


l3=[]
for i in range(1,51):
    if i % 2==0:
        l3.append(i)

In [229]:
user_number= int(input("Enter the number "))

if user_number%2==0:
    print("Entered number is even")
else:
    print("Entered Number is odd")

Enter the number 67589
Entered Number is odd

In [230]:


user_number=input("Enter the number ")

Enter the number 67589

In [287]:
user_number=input("Enter the number ")

l2=[]

for i in user_number:
    l2.append(i.split())
number=l2[len(user_number)-1][0]

number=int(number)


l1=[0,2,4,6,8]
if number in l1:
    print("even")
else:
    print('odd')

Enter the number 56789
even

'9'

## 17th Feb 2024 Dictionary

In [1]:
d1={}

In [2]:
type(d1)

dict

In [3]:
d1={ 'Name': 'Prashant','email_id': "xyz@gmail.com", "Age" : 45, "Mobile_number": 123456789}

In [4]:
d1

{'Name': 'Prashant',
 'email_id': 'xyz@gmail.com',
 'Age': 45,
 'Mobile_number': 123456789}

In [5]:
## to access the value you can use keys 
d1["Name"]

'Prashant'

In [6]:
d1['email_id']

'xyz@gmail.com'

In [8]:
## you want to access the entire keys 
d1.keys()

dict_keys(['Name', 'email_id', 'Age', 'Mobile_number'])

In [9]:
## you want to access the all values 

d1.values()

dict_values(['Prashant', 'xyz@gmail.com', 45, 123456789])

In [10]:
## you want to add new items in the dict d1

d1["Address"]="BLR"

In [11]:
d1

{'Name': 'Prashant',
 'email_id': 'xyz@gmail.com',
 'Age': 45,
 'Mobile_number': 123456789,
 'Address': 'BLR'}

In [13]:
## you want to change the address ,i.e. over writing 

d1["Address"]="Delhi"

In [14]:
d1

{'Name': 'Prashant',
 'email_id': 'xyz@gmail.com',
 'Age': 45,
 'Mobile_number': 123456789,
 'Address': 'Delhi'}

In [15]:
## you want to remove the address key from the dict d1

del d1["Address"]

In [16]:
d1

{'Name': 'Prashant',
 'email_id': 'xyz@gmail.com',
 'Age': 45,
 'Mobile_number': 123456789}

In [21]:
## pop 

d1.pop("Age")

45

In [22]:
d1

{'Name': 'Prashant', 'email_id': 'xyz@gmail.com', 'Mobile_number': 123456789}

In [23]:
## you want to clear the entire dict 

d1.clear()

In [24]:
d1

{}

In [26]:
d2={
    
    "Country":"India",
    "State":"Himachal",
    "city": "Kullu",
    "pin":56987
    
}

d3={
    
    'Country_code':29,
    "Invoice":12365,
    'amount':12000
    
    
}

In [27]:
print(d2)
print(d3)

{'Country': 'India', 'State': 'Himachal', 'city': 'Kullu', 'pin': 56987}
{'Country_code': 29, 'Invoice': 12365, 'amount': 12000}

In [29]:
## to combine the dict both d2 and d3 

d2.update(d3)

In [30]:
d2

{'Country': 'India',
 'State': 'Himachal',
 'city': 'Kullu',
 'pin': 56987,
 'Country_code': 29,
 'Invoice': 12365,
 'amount': 12000}

In [31]:
## you can also loop the dict using for loop

for i in d2: ## it will only itrate the key of the dict 
    print(i)

Country
State
city
pin
Country_code
Invoice
amount

In [39]:
## how to get the values of dict uisng for loop 

for i in d2:
    print(i,":",d2[i])

Country : India
State : Himachal
city : Kullu
pin : 56987
Country_code : 29
Invoice : 12365
amount : 12000

In [34]:
for i in d2.values():
    print(i)

India
Himachal
Kullu
56987
29
12365
12000

In [35]:
d2.values()

dict_values(['India', 'Himachal', 'Kullu', 56987, 29, 12365, 12000])

## set

# what is set ?

- Set is built in data stracture , used for storing the ordered , unique data or element 

# How can we create the set?

- Set can be created buing the curly bracket {}

In [41]:
s1={1,2,3,4,5,6,6,6,6,8,45,7,7,7,9,10,100,56}

In [42]:
type(s1)

set

In [43]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 45, 56, 100}

In [44]:
## add the new data into the s1 set 

s1.add(1000)

In [45]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 45, 56, 100, 1000}

In [46]:
s1.add(36)

In [47]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 36, 45, 56, 100, 1000}

In [51]:
s2={"Prashant","Vishal","Niraj","Niraj","Niraj","Niraj"}

In [52]:
s2

{'Niraj', 'Prashant', 'Vishal'}

In [53]:
s1.add(s2)

TypeError: unhashable type: 'set'

In [54]:
s1.update(s2)

In [55]:
s1

{1,
 10,
 100,
 1000,
 2,
 3,
 36,
 4,
 45,
 5,
 56,
 6,
 7,
 8,
 9,
 'Niraj',
 'Prashant',
 'Vishal'}

In [56]:
s1.remove(1000)

In [57]:
s1

{1, 10, 100, 2, 3, 36, 4, 45, 5, 56, 6, 7, 8, 9, 'Niraj', 'Prashant', 'Vishal'}

In [62]:
s1.remove(10000)

KeyError: 10000

In [59]:
s1.discard(10000)

In [60]:
s1.discard(100)

In [61]:
s1

{1, 10, 2, 3, 36, 4, 45, 5, 56, 6, 7, 8, 9, 'Niraj', 'Prashant', 'Vishal'}

In [66]:
## pop
s1.pop()

3

In [67]:
s1

{10, 36, 4, 45, 5, 56, 6, 7, 8, 9, 'Niraj', 'Prashant', 'Vishal'}

## set operation 

- union |
- insersection &
- defference  -

In [70]:
s3={5,6,78,56,66,"Vishal"}

In [75]:
s1

{10, 36, 4, 45, 5, 56, 6, 7, 8, 9, 'Niraj', 'Prashant', 'Vishal'}

In [71]:
s3

{5, 56, 6, 66, 78, 'Vishal'}

In [72]:
## union  combine the two or more set and present the unique element

s1|s3

{10, 36, 4, 45, 5, 56, 6, 66, 7, 78, 8, 9, 'Niraj', 'Prashant', 'Vishal'}

In [74]:
## insersection - It prove the common element b/w two set 
s1 &s3

{5, 56, 6, 'Vishal'}

In [76]:
# difference 

s1-s3

{10, 36, 4, 45, 7, 8, 9, 'Niraj', 'Prashant'}

In [77]:
len(s1)

13

In [78]:
len(s3)

6

In [79]:
for i in s1:
    print(i)

4
5
6
7
8
9
10
45
Niraj
Vishal
Prashant
36
56

In [80]:
## create a list and iterate using for loop . 

list1 = [1, 3, 5, 7, 9] 
for i in list: 
  print(i)

1
3
5
7
9

In [85]:
l1 = [1,2,3,4,5]
for i in l1:
    print(l1.index(i),i)

0 1
1 2
2 3
3 4
4 5

In [94]:
## iterate the list and save in different list in opposite direction.

SyntaxError: invalid syntax (3984266551.py, line 1)

In [92]:
l1

[1, 2, 3, 4, 5]